<h1>Lista de Itens</h1>
<table class="table table-sm table-hover" *ngIf="(itens$ | async)?.length> 0 ">
  <thead>
    <tr>
      <th>Item</th>
      <th>Descrição</th>
      <th class="text-right">Quantidade</th>
      <th class="text-right">Preco</th>
      <th class="text-right">Total</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td class="text-right" colspan="5">Total do Pedido: {{TotalPedido | currency}}</td>
    </tr>
  </tfoot>
  <tbody>
    <tr *ngFor="let item of (itens$ | async); let i = index;">
      <td>{{(i+1) | number: '3.'}}</td>
      <td>{{ item.descricao }}</td>
      <td class="text-right">{{ item.quantidade | number: '0.2' }}</td>
      <td class="text-right">{{ item.preco | currency}}</td>
      <td class="text-right">{{ item.total | currency}}</td>
    </tr>
  </tbody>
</table>
<br>
<a [routerLink]="['/pedidos']" class="btn btn-primary btn-sm float-right">Voltar</a>
